<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <body>
  	<div class="center hero-unit">
			<h1>CatMapper</h1>

			<h2>This is the home page.</h2>

			<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-custom" %>
		</div>

		<%= link_to image_tag("http://www.broke-hip.com/ctatsu/tatsu.jpeg", alt: "Tatsu"), 'http://rubyonrails.org/' %>
  </body>

</html>